nav {
    background-color: var(--bg-red);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--logo__img {
    width: 28px;
    padding-right: 7px;
}

.header--logo {
    color: var(--tx-white);
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}